.github-icon {
    font-size: 48px; 
    text-decoration: none; 
    display: flex;
    justify-content: center;   
    padding-top: 16px; 
}

.github-icon a{
    color: #ffffff;
}

a:hover {
    color: #c04040; /* 懸停時改變顏色 */
}

@media (max-height: 640px) {
    .github-icon {
        font-size: 36px;
        padding-top: 8px; 
    }
}